@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Shrikhand&display=swap");
@keyframes fill-heart-button {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes heart-icon-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes food-cards--icon {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes menu-loader {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes food-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes page-loader {
  0% {
    opacity: 0;
    filter: blur(50px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes loader_1 {
  0% {
    transform: translateX(60px) scale(1);
  }
  20% {
    transform: translateX(120px);
  }
  40% {
    transform: translateX(180px);
  }
  60% {
    transform: translateX(240px) scale(0);
  }
  61% {
    transform: translateX(240px) scale(0);
  }
  80% {
    transform: translateX(0px) scale(0);
  }
  100% {
    transform: translateX(60px) scale(1);
  }
}
@keyframes loader_2 {
  0% {
    transform: translateX(60px) scale(1);
  }
  20% {
    transform: translateX(120px);
  }
  40% {
    transform: translateX(180px) scale(0);
  }
  42% {
    transform: translateX(-60px) scale(0);
  }
  43% {
    transform: translateX(-60px) scale(0);
  }
  60% {
    transform: translateX(-60px) scale(0);
  }
  80% {
    transform: translateX(0px) scale(1);
  }
  100% {
    transform: translateX(60px) scale(1);
  }
}
@keyframes loader_3 {
  0% {
    transform: translateX(60px) scale(1);
  }
  20% {
    transform: translateX(120px) scale(0);
  }
  22% {
    transform: translateX(-120px) scale(0);
  }
  40% {
    transform: translateX(-120px) scale(0);
  }
  60% {
    transform: translateX(-60px) scale(1);
  }
  80% {
    transform: translateX(0px) scale(1);
  }
  100% {
    transform: translateX(60px) scale(1);
  }
}
@keyframes loader_4 {
  0% {
    transform: translateX(60px) scale(0);
  }
  20% {
    transform: translateX(120px) scale(0);
  }
  22% {
    transform: translateX(-180px) scale(0);
  }
  40% {
    transform: translateX(-120px) scale(1);
  }
  60% {
    transform: translateX(-60px) scale(1);
  }
  80% {
    transform: translateX(0px) scale(1);
  }
  100% {
    transform: translateX(60px) scale(0);
  }
}
@keyframes loader_5 {
  0% {
    transform: translateX(0px) scale(0);
  }
  3% {
    transform: translateX(-240px) scale(0);
  }
  20% {
    transform: translateX(-180px) scale(1);
  }
  40% {
    transform: translateX(-120px);
  }
  60% {
    transform: translateX(-60px);
  }
  80% {
    transform: translateX(0px) scale(0);
  }
  100% {
    transform: translateX(0px) scale(0);
  }
}
body {
  font-weight: 100;
  font-family: "Roboto";
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.btn {
  border-radius: 30px;
  padding: 15px 20px;
  color: #ffff;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  border: none;
  margin: 20px;
  box-shadow: 0px 1px 12px 1px rgba(68, 68, 68, 0.43);
  text-align: center;
  font-weight: 500;
  display: inline-block;
}
.btn.btn--restaurants-pages {
  width: 10rem;
  align-self: center;
}
.btn:hover {
  background: linear-gradient(170deg, #ff8de0 0%, #9e67e0 100%);
  box-shadow: 0px 1px 12px 1px rgba(68, 68, 68, 0.9);
}

.heart_icon {
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1;
  color: #5a5454;
  margin-right: 15px;
}
.heart_icon:hover {
  animation: heart-icon-opacity 200ms 120ms cubic-bezier(0.42, 0.3, 0.15, 0.97) forwards;
}
.heart_icon:hover + .heart_icon-full {
  opacity: 1;
  animation: fill-heart-button 200ms cubic-bezier(0.06, 0.21, 0.15, 0.97);
}
.heart_icon-full {
  position: absolute;
  right: 15px;
  top: 22px;
  color: transparent;
  background: linear-gradient(45deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
  font-size: 1.5rem;
  transform-origin: 50% 100%;
}
.heart_icon-full.home_position {
  bottom: 23px;
  right: 30px;
  top: unset;
}

.loader {
  position: absolute;
  margin: 175px auto;
  font-size: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 0;
  right: 0;
  animation: food-loader 3s cubic-bezier(0.82, 0.06, 0.94, 0.74) forwards;
  z-index: 10;
}
.loader--title {
  padding: 5px;
  font-family: "Shrikhand", cursive;
  color: #9356dc;
}
.loader--icons {
  display: flex;
  gap: 6px;
}
.loader--icons--1 {
  animation: loader_1 6s ease-in-out infinite;
  color: #9356dc;
}
.loader--icons--2 {
  animation: loader_2 6s ease-in-out infinite;
  color: #ff79da;
}
.loader--icons--3 {
  animation: loader_3 6s ease-in-out infinite;
  color: #99e2d0;
}
.loader--icons--4 {
  animation: loader_4 6s ease-in-out infinite;
  color: #ff79da;
}
.loader--icons--5 {
  animation: loader_5 6s ease-in-out infinite;
  color: #99e2d0;
}

.header {
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0px 1px 12px 1px rgba(68, 68, 68, 0.43);
  box-shadow: 0px 1px 12px 1px rgba(68, 68, 68, 0.43);
  position: relative;
  z-index: 1;
}
.header--logo {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  margin: 10px auto;
}
.header .header--return {
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 1.25rem;
}

.footer {
  color: #ffff;
  background: #353535;
  padding: 6px 0px;
}
.footer--links {
  list-style-type: none;
}
@media screen and (min-width: 992px) {
  .footer--links {
    display: flex;
    max-width: 1440px;
    margin: auto;
  }
}
.footer--links .partner-icon {
  transform: rotate(-35deg);
}
.footer--links li {
  margin: 5px 0px;
}
@media screen and (min-width: 992px) {
  .footer--links li {
    display: inline;
    margin: 8px 20px;
    padding: 5px;
  }
  .footer--links li:hover {
    color: #ff79da;
  }
}
.footer--links li a {
  font-weight: 300;
}
.footer--links li i {
  margin-right: 5px;
  width: 20px;
}
.footer--links li:first-child {
  font-family: "Shrikhand", cursive;
  margin: 8px 0px;
  font-size: 1.2rem;
}

.container {
  animation: page-loader 3s cubic-bezier(0.82, 0.06, 0.94, 0.74) forwards;
}

.location_restaurants {
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location_restaurants--text {
  margin: 0;
  padding: 15px;
  font-weight: 400;
}

.company_description {
  text-align: center;
  padding: 30px 50px;
  background: #f6f6f6;
}
.company_description--title {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 10px 0;
}
.company_description--text {
  margin: 10px 0px;
}

.how_it_works {
  padding: 20px;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .how_it_works--max-width-desktop {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 55px;
  }
}
.how_it_works--title {
  font-size: 1.5rem;
  font-weight: 900;
}
@media screen and (min-width: 992px) {
  .how_it_works--steps {
    display: flex;
  }
}
.how_it_works--step {
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .how_it_works--step {
    width: 30%;
  }
}
.how_it_works--step_number {
  border-radius: 50%;
  background: #9356dc;
  color: #ffff;
  height: 1rem;
  width: 1rem;
  padding: 5px;
  text-align: center;
  font-weight: 300;
  z-index: 2;
}
.how_it_works--step_block {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  flex: 2;
  position: relative;
  left: -13px;
  border-radius: 15px;
  box-shadow: 0px 3px 23px -10px rgba(68, 68, 68, 0.43);
  padding: 10px 0;
}
.how_it_works--step_block:hover {
  background: #f5edff;
}
.how_it_works--step_block:hover > * {
  color: #9356dc;
}
.how_it_works--step_block_icone {
  color: #7e7e7e;
  margin: 0 25px;
  font-size: 1.3rem;
}
.how_it_works--step_block_text {
  font-weight: 500;
}

.restaurants {
  background: #f6f6f6;
  padding: 20px;
}
.restaurants--max-width-desktop {
  max-width: 1440px;
  margin: auto;
}
.restaurants--title {
  font-size: 1.5rem;
  font-weight: 900;
}
.restaurants--cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
@media screen and (max-width: 576px) {
  .restaurants--cards {
    display: block;
  }
}
.restaurants--card {
  border-radius: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #ffff;
  margin: 15px auto;
  box-shadow: 0px 3px 23px -10px rgba(68, 68, 68, 0.43);
}
@media screen and (min-width: 992px) {
  .restaurants--card {
    width: 24%;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .restaurants--card {
    width: 45%;
  }
}
.restaurants--card--img {
  object-fit: cover;
  object-position: bottom;
  height: 10.5rem;
  border-radius: 15px 15px 0 0;
}
.restaurants--card--img.align-to-center {
  object-position: 50% 61%;
}
.restaurants--card--new_label {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #99e2d0;
  color: #008766;
  border-radius: 2px;
  padding: 7px 12px;
  font-weight: 400;
  font-size: 0.9rem;
}
.restaurants--card--infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  font-size: 1rem;
}
.restaurants--card--infos--text * {
  margin: 8px 0;
}
.restaurants--card--infos--name {
  font-weight: 500;
}

.head-image {
  object-fit: cover;
  width: 100%;
  height: 275px;
  margin-bottom: -60px;
}
@media screen and (min-width: 992px) {
  .head-image {
    height: 320px;
  }
}
@media screen and (min-width: 577px) {
  .head-image.head-image--delice_des_sens {
    object-position: 50% 65%;
  }
}
@media screen and (min-width: 992px) {
  .head-image.head-image--a_la_francaise {
    object-position: 50% 70%;
  }
}
@media screen and (min-width: 992px) {
  .head-image.head-image--palette_du_gout, .head-image.head-image--note_enchantee {
    object-position: 50% 60%;
  }
}

.menu {
  background: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu-header--title {
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
  margin-left: 10px;
}
@media screen and (min-width: 992px) {
  .menu--meals {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .menu--meals > section {
    width: 30%;
    margin: 0 10px;
  }
}
.menu-parts-title {
  position: relative;
  margin-left: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 100;
}
.menu-parts-title::before {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 20px;
  border-bottom: 3px solid #99e2d0;
}

.food-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffff;
  border-radius: 15px;
  overflow: hidden;
  white-space: nowrap;
  margin: 10px 0;
  animation: menu-loader 600ms ease-out backwards;
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.75);
}
.food-cards.load-time--1 {
  animation-delay: 380ms;
}
.food-cards.load-time--2 {
  animation-delay: 460ms;
}
.food-cards.load-time--3 {
  animation-delay: 540ms;
}
.food-cards.load-time--4 {
  animation-delay: 620ms;
}
.food-cards:hover .food-cards--block-icon {
  width: 70px;
}
.food-cards:hover .food-cards--block-icon--icon {
  transform: rotate(1turn);
}
.food-cards--infos {
  width: 75%;
  margin: 0 10px;
  overflow: hidden;
}
.food-cards--infos--name {
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.food-cards--infos--description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 12px;
  font-size: 0.9rem;
}
.food-cards--price {
  text-align: end;
  align-self: end;
  font-weight: 500;
  flex-grow: 1;
  margin-right: 4px;
}
.food-cards--block-icon {
  align-self: stretch;
  display: flex;
  align-items: center;
  background: #99e2d0;
  border-radius: 0 15px 15px 0;
  width: 0%;
  justify-content: center;
  transition: width 700ms ease-in-out;
  margin-left: 10px;
}
.food-cards--block-icon--icon {
  color: #ffff;
  font-size: 1.5rem;
  transition: transform 700ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
