@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Shrikhand&display=swap");

$logo-and-title: "Shrikhand", cursive;
$text-font: "Roboto";
$cl-primary: #9356dc;
$cl-secondary: #ff79da;
$cl-tertiary: #99e2d0;
$location-cl: #eaeaea;
$company-description-bkg-cl: #F6F6F6;

body {
    font-weight: 100;
    font-family: $text-font;
}
.header {
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0px 1px 12px 1px rgba(68, 68, 68, 0.43);
  box-shadow: 0px 1px 12px 1px rgba(68, 68, 68, 0.43);
  position: relative;
  z-index: 1;

  &__logo {
    font-family: $logo-and-title;
    font-size: 2rem;
    margin: 20px auto;
  }
}

.location_restaurants {
  background-color: $location-cl;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    margin: 0;
    padding: 20px;  
    font-weight: 400;
  }
}

.company_description {
    text-align: center;
    padding: 10px 60px;
    background: $company-description-bkg-cl;

    &__title {
        font-size: 1.5rem;
        font-weight: 900;
    }
    &__text {
        margin: 10px 0px;
    }
}

.btn {
    border-radius: 30px;
    padding: 15px;
    color: #ffff;
    background: linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    border: none;
    margin: 10px;
}