@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Shrikhand&display=swap");
@import "./utils/variables";


@mixin home-title {
    font-size: 1.5rem;
    font-weight: 900;
}

body {
    font-weight: 100;
    font-family: $text-font;
}
.header {
  display: flex;
  justify-content: center;
  -webkit-box-shadow: $header-box_shadow;
  box-shadow: $header-box_shadow;
  position: relative;
  z-index: 1;

  &--logo {
    font-family: $logo-and-title;
    font-size: 2rem;
    margin: 20px auto;
  }
}

.location_restaurants {
  background-color: $location-cl;
  display: flex;
  align-items: center;
  justify-content: center;

  &--text {
    margin: 0;
    padding: 20px;  
    font-weight: 400;
  }
}

.company_description {
    text-align: center;
    padding: 10px 60px;
    background: $company-description-bkg-cl;

    &--title {
        @include home-title;
    }
    &--text {
        margin: 10px 0px;
    }
}

.btn {
    border-radius: 30px;
    padding: 15px;
    color: #ffff;
    background: linear-gradient(170deg, $cl-secondary 0%, $cl-primary 100%);
    border: none;
    margin: 10px;
    box-shadow: $header-box_shadow;
    cursor: pointer;
    &:hover {
        background: linear-gradient(170deg, lighten($cl-secondary, 4%) 0%, lighten($cl-primary,4%) 100%);
        box-shadow: 0px 1px 12px 1px rgba(68, 68, 68, 0.9);
    }
}

.how_it_works {
    padding: 20px;

    &--title {
        @include home-title;
    }

    &--step {
        display: flex;
        align-items: center;
        border-radius: 15px;
        margin-bottom: 20px;

        &_number {
            border-radius: 50%;
            background: $cl-primary;
            color: #ffff;
            height: 1rem;
            width: 1rem;
            padding: 5px;
            text-align: center;
            font-weight: 300;
        }
        &_block {
            display: flex;
            align-items: center;
            background: #f6f6f6;
            flex: 2;
            position: relative;
            left: -13px;
            border-radius: 15px;
            z-index: -1;
            box-shadow: $header-box_shadow;

            &_icone {
                color: #7e7e7e;
                margin: 0 33px;
            }
    
            &_text {
                font-weight: 500;
            }
            &--colored_icone {
                color: $cl-primary;
            }
        }
        
    }
}

.restaurants {
    background: $company-description-bkg-cl;
    padding: 20px;

    &--title {
        @include home-title;
    }

    &--cards {
        border-radius: 15px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        position: relative;
        background: #ffff;

        &--img {
            object-fit: cover;
            object-position: bottom;
            height: 45vw;
            border-radius: 15px 15px 0 0;
        }

        &--new_label {
            position: absolute;
            top: 15px;
            right: 15px;
            background: $cl-tertiary;
            color: adjust-color($color: $cl-tertiary, $red: -153, $green: -91, $blue: -106);
            border-radius: 2px;
            padding: 5px 10px;
            font-weight: 400;
            font-size: 0.75rem;
        }

        &--infos {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            padding: 0 15px;
            font-size: 0.8rem;

            & > * {
                margin: 0;
            }

            &--name {
                font-weight: 500;
            }

            &--heart_icon {
                font-size: 1rem;
                z-index: 1;
                color: rgb(90, 84, 84);

                &:hover{
                    opacity: 0;
                    
                }

                &:hover + &-full {
                    opacity: 1;
                }

                 &-full {
                        position: absolute;
                        right: 15px;
                        bottom: 41px;
                        color: transparent;
                        background: linear-gradient(45deg, $cl-secondary 0%, $cl-primary 100%);;
                        background-clip: text;
                        opacity: 0;
                        font-size: 1rem;
                }
            }
        }

    }
}