.loader {
  position: absolute;
  margin: 175px auto;
  font-size: $font-size-base * 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 0;
  right: 0;
  animation: food-loader 3100ms $loader-timing forwards;
  z-index: 10;
  &--title {
    padding: 5px;
    font-family: $logo-and-title;
    background: linear-gradient(
      170deg,
      lighten($cl-secondary, 4%) 0%,
      lighten($cl-primary, 4%) 100%
    );
    background-clip: text;
    color: transparent;
  }
  &--icons {
    display: flex;
    gap: 6px;
    &--1 {
      animation: loader_1 6s ease-in-out infinite;
      color: $cl-primary;
    }
    &--2 {
      animation: loader_2 6s ease-in-out infinite;
      color: $cl-secondary;
    }
    &--3 {
      animation: loader_3 6s ease-in-out infinite;
      color: $cl-tertiary;
    }
    &--4 {
      animation: loader_4 6s ease-in-out infinite;
      color: $cl-secondary;
    }
    &--5 {
      animation: loader_5 6s ease-in-out infinite;
      color: $cl-tertiary;
    }
  }
}
