.loader {
  position: absolute;
  margin: 175px auto;
  font-size: $font-size-base * 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 0;
  right: 0;
  animation: food-loader $loader-duration $loader-timing forwards;
  z-index: -1;
  &--title {
    padding: 5px;
    font-family: $logo-and-title;
    color: $cl-primary;
  }
  &--icons {
    display: flex;
    gap: 6px;
    &--1 {
      @include home-loader-animation(loader_1, $cl-primary);
    }
    &--2 {
      @include home-loader-animation(loader_2, $cl-secondary);
    }
    &--3 {
      @include home-loader-animation(loader_3, $cl-tertiary);
    }
    &--4 {
      @include home-loader-animation(loader_4, $cl-secondary);
    }
    &--5 {
      @include home-loader-animation(loader_5, $cl-tertiary);
    }
  }
}
