@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Shrikhand&display=swap");


body {
    font-weight: 100;
    font-family: $text-font;
}

a {
    text-decoration: none;
    color: inherit;
}