@mixin home-title {
  font-size: $font-size-base * 1.5;
  font-weight: 900;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin dont-go-above-1440px {
  max-width: 1440px;
  margin: auto;
}
