$logo-and-title: "Shrikhand", cursive;
$text-font: "Roboto";
$cl-primary: #9356dc;
$cl-secondary: #ff79da;
$cl-tertiary: #99e2d0;
$location-cl: #eaeaea;
$company-description-bkg-cl: #F6F6F6;
$header-box_shadow: 0px 1px 12px 1px rgba(68, 68, 68, 0.43);

$heart-anim-duration: 200ms;