.footer {
    color:#ffff;
    background: $footer-cl;
    padding: 6px 0px;

    &--links {
        list-style-type: none;

        .partner-icon {
            transform: rotate(-35deg);
        }
        
        li {
            margin: 5px 0px;
            
            a {
                font-weight: 300;
                &:hover {
                    font-weight: bold;
                }
            }

            i {
                margin-right: 5px;
                width:20px;
            }

            &:first-child {
                font-family: $logo-and-title;
                margin: 8px 0px;
                font-size: $font-size-base*1.2;
            }
           
        }
        
    }
}