.header {
    display: flex;
    justify-content: center;
    -webkit-box-shadow: $header-box_shadow;
    box-shadow: $header-box_shadow;
    position: relative;
    z-index: 1;
  
    &--logo {
      font-family: $logo-and-title;
      font-size: $font-size-base*2;
      margin: 10px auto;
    }

    .header--return {
        position: relative;
        top: 20px;
        left: 20px;
        font-size: $font-size-base*1.25;
    }
  }